@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

:root {
  --clr-body: #f1f5f8;
  --clr-btn: #8bcbf9;
  --clr-yellow: #feb100;
  --transition: all linear 0.2s;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: var(--clr-body);
  padding: 1em;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-size: 0.8rem;
}

select {
  display: block;
  width: 100%;
}

select option {
  text-transform: capitalize;
}

input {
  width: 100%;
}

input:focus {
  outline: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/* SETUP FORM */
/* ========= */

.setup-form-wrapper {
  padding: 2em;
  background-color: white;
  border-radius: 5px;
  min-width: 100%;
  /* background-color: magenta; */
}

.form-title {
  margin: 0 0 1.5em 0;
}

.setup-form input,
.setup-form select {
  margin-bottom: 2em;
  background-color: var(--clr-body);
  border: none;
  border-radius: 5px;
  padding: 0.3em 0.6em;
}

.setup-form select:last-of-type {
  margin-bottom: 3em;
}

.error-alert {
  color: red;
  font-size: 0.8rem;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2em;
}

.btn-start {
  width: 100%;
  background-color: #feb100;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: 600;
}

/* QUESTION-ARTICLE */
/* =============== */
.question-article {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5em;
  border-radius: 5px;
}

.correct-ans {
  color: green;
  font-size: 0.8rem;
}

.correct-ans {
  align-self: flex-end;
}

.question-title {
  letter-spacing: 1px;
}

.btn {
  transition: var(--transition);
}

.btn:hover {
  color: white;
}

.btn-ans-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.btn-ans {
  background-color: var(--clr-btn);
  border: none;
  padding: 1em;
  border-radius: 5px;
  font-weight: 500;
  letter-spacing: 1px;
}

.next-question {
  align-self: flex-end;
  margin-top: 2em;
  background-color: var(--clr-yellow);
  border: none;
  padding: 0.8em;
  border-radius: 5px;
  font-weight: 600;
}

/*  MODAL */
/* ======= */

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  transition: var(--transition);
  transform: scale(0.1);
}

.modal-overlay.active {
  visibility: visible;
  transform: scale(1);
}

.modal-wrapper {
  background-color: white;
  padding: 2em;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-title {
  margin: 0;
}

.btn-play-again {
  background-color: var(--clr-yellow);
  border: none;
  padding: 0.6em;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 2em;
}
